# Reindexing
In this section, we 'll look into reindexing row and column labels with pandas.

In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

## Series

In [2]:
ser1 = Series(np.arange(1,5),index=['x','y','z','m'])
ser1

x    1
y    2
z    3
m    4
dtype: int32

In [3]:
ser2 = ser1.reindex(['x','y','z','m','n','k'])
ser2

x    1.0
y    2.0
z    3.0
m    4.0
n    NaN
k    NaN
dtype: float64

In [4]:
ser2.reindex(['x','y','z','m','n','k','t'],fill_value=111)

x      1.0
y      2.0
z      3.0
m      4.0
n      NaN
k      NaN
t    111.0
dtype: float64

In [5]:
ser3 = Series(['Chicago','Sydney','Stuttgart'],index=[0,4,9])
ser3

0      Chicago
4       Sydney
9    Stuttgart
dtype: object

In [6]:
ser3.reindex(np.arange(15),method='ffill')

0       Chicago
1       Chicago
2       Chicago
3       Chicago
4        Sydney
5        Sydney
6        Sydney
7        Sydney
8        Sydney
9     Stuttgart
10    Stuttgart
11    Stuttgart
12    Stuttgart
13    Stuttgart
14    Stuttgart
dtype: object

## DataFrames

In [7]:
from numpy.random import rand

In [8]:
df = DataFrame(rand(20).reshape(5,4),
               index=['row1','row2','row3','row4','row5'],
              columns=['col1','col2','col3','col4'])
df

          col1      col2      col3      col4
row1  0.871807  0.578008  0.881106  0.995927
row2  0.791829  0.849730  0.210446  0.226719
row3  0.849996  0.927899  0.535872  0.219405
row4  0.710863  0.981388  0.119546  0.513223
row5  0.271988  0.118086  0.117669  0.546271

In [9]:
new_row_labels = ['row1','row2','row3','row4','row5','row6','row7']
df.reindex(labels=new_row_labels,
           axis=0)

          col1      col2      col3      col4
row1  0.871807  0.578008  0.881106  0.995927
row2  0.791829  0.849730  0.210446  0.226719
row3  0.849996  0.927899  0.535872  0.219405
row4  0.710863  0.981388  0.119546  0.513223
row5  0.271988  0.118086  0.117669  0.546271
row6       NaN       NaN       NaN       NaN
row7       NaN       NaN       NaN       NaN

In [10]:
df.reindex(index=new_row_labels)

          col1      col2      col3      col4
row1  0.871807  0.578008  0.881106  0.995927
row2  0.791829  0.849730  0.210446  0.226719
row3  0.849996  0.927899  0.535872  0.219405
row4  0.710863  0.981388  0.119546  0.513223
row5  0.271988  0.118086  0.117669  0.546271
row6       NaN       NaN       NaN       NaN
row7       NaN       NaN       NaN       NaN

In [11]:
df.reindex(labels=new_row_labels,
          method='ffill')

          col1      col2      col3      col4
row1  0.871807  0.578008  0.881106  0.995927
row2  0.791829  0.849730  0.210446  0.226719
row3  0.849996  0.927899  0.535872  0.219405
row4  0.710863  0.981388  0.119546  0.513223
row5  0.271988  0.118086  0.117669  0.546271
row6  0.271988  0.118086  0.117669  0.546271
row7  0.271988  0.118086  0.117669  0.546271

In [12]:
df.reindex(labels=new_row_labels,
          fill_value=1)

          col1      col2      col3      col4
row1  0.871807  0.578008  0.881106  0.995927
row2  0.791829  0.849730  0.210446  0.226719
row3  0.849996  0.927899  0.535872  0.219405
row4  0.710863  0.981388  0.119546  0.513223
row5  0.271988  0.118086  0.117669  0.546271
row6  1.000000  1.000000  1.000000  1.000000
row7  1.000000  1.000000  1.000000  1.000000

In [13]:
new_column_labels = ['col1','col2','col3','col4','col5','col6']

df.reindex(labels=new_column_labels,axis=1)

          col1      col2      col3      col4  col5  col6
row1  0.871807  0.578008  0.881106  0.995927   NaN   NaN
row2  0.791829  0.849730  0.210446  0.226719   NaN   NaN
row3  0.849996  0.927899  0.535872  0.219405   NaN   NaN
row4  0.710863  0.981388  0.119546  0.513223   NaN   NaN
row5  0.271988  0.118086  0.117669  0.546271   NaN   NaN

In [14]:
df.reindex(columns=new_column_labels)

          col1      col2      col3      col4  col5  col6
row1  0.871807  0.578008  0.881106  0.995927   NaN   NaN
row2  0.791829  0.849730  0.210446  0.226719   NaN   NaN
row3  0.849996  0.927899  0.535872  0.219405   NaN   NaN
row4  0.710863  0.981388  0.119546  0.513223   NaN   NaN
row5  0.271988  0.118086  0.117669  0.546271   NaN   NaN