# Sort operations
There are a variety of sort functions which come along with the pandas library.

In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

### Series

In [2]:
ser1 = Series([5,4,6],
             index=['x','m','n'])
ser1

x    5
m    4
n    6
dtype: int64

In [3]:
ser1.sort_index()   # sorts alphabetically

m    4
n    6
x    5
dtype: int64

In [4]:
ser1.sort_values(ascending=False)

n    6
x    5
m    4
dtype: int64

### DataFrames

In [5]:
df = DataFrame(np.arange(16).reshape(4,4),
              index=['o','c','t','a'],
              columns=['n','m','j','i'])
df

    n   m   j   i
o   0   1   2   3
c   4   5   6   7
t   8   9  10  11
a  12  13  14  15

In [6]:
df.sort_index(axis=0)

    n   m   j   i
a  12  13  14  15
c   4   5   6   7
o   0   1   2   3
t   8   9  10  11

In [7]:
df.sort_index(axis=1)

    i   j   m   n
o   3   2   1   0
c   7   6   5   4
t  11  10   9   8
a  15  14  13  12

In [8]:
df

    n   m   j   i
o   0   1   2   3
c   4   5   6   7
t   8   9  10  11
a  12  13  14  15

In [9]:
df.sort_values(by='n',ascending=False)

    n   m   j   i
a  12  13  14  15
t   8   9  10  11
c   4   5   6   7
o   0   1   2   3