## String

In [1]:
'city'

'city'

In [2]:
"Sydney"

'Sydney'

In [3]:
"The city is Sydney "

'The city is Sydney '

In [4]:
'city'[0]

'c'

In [5]:
'city'[1:3]

'it'

In [6]:
'city'[-1]

'y'

In [7]:
'cities'[::2]

'cte'

In [8]:
'city'[::-1]

'ytic'

In [9]:
len('city ')

5

In [10]:
a = 'City:'
b = 'Sydney'

In [11]:
a + b

'City:Sydney'

In [12]:
a + ' ' + b

'City: Sydney'

In [13]:
city = 'Sydney'
city

'Sydney'

In [14]:
city[0]

'S'

In [15]:
city[0] = 's'

TypeError: 'str' object does not support item assignment

In [16]:
city = 's' + city[1:]
city

'sydney'

## Special functions

In [17]:
city

'sydney'

In [18]:
city.capitalize() #capitalizes only the first character

'Sydney'

In [19]:
city.upper() #capitalizes all of the characters

'SYDNEY'

In [20]:
city.lower() #sets all characters back to lowercase

'sydney'

In [21]:
x = 'Sydney is my favorite city.'
x

'Sydney is my favorite city.'

In [22]:
x.split()

['Sydney', 'is', 'my', 'favorite', 'city.']

In [23]:
x = 'Sydney,Chicago,Stuttgart,Istanbul'
x

'Sydney,Chicago,Stuttgart,Istanbul'

In [24]:
x.split(sep=',') # form a list by seperating on every comma (could be also any other character)

['Sydney', 'Chicago', 'Stuttgart', 'Istanbul']

In [25]:
x.replace('Sydney','Brisbane')

'Brisbane,Chicago,Stuttgart,Istanbul'

In [ ]:
x.find('Istanbul')